@page "/Product/Create"

@using PIM.Data
@using PIM.Data.Services
@using PimModels.Models
@using PimModels.RequestModels

@inject ProductService _productService
@inject StateContainer _stateContainer 
@inject CategoryService _categoryService
@inject AttributeService _attributeService

<h3>CREATE PRODUCT</h3>

@if(!string.IsNullOrWhiteSpace(_productService.Message))
{
    <text>@_productService.Message</text>
}

<div class="formHolder position-relative top-50 start-50 translate-middle">
    <EditForm Model="@createProduct" OnValidSubmit="@Create" style="display: flex">
    <div class="formFields" >
        <div class="inputHolder">
            <label for="name">Name:</label>
            <input type="text" id="name" @bind-value="createProduct.Name" />
        </div>
        <div class="inputHolder">
            <label for="sku">SKU:</label>
            <input type="text" id="sku" @bind-value="createProduct.Sku" />
        </div>
        <div class="inputHolder">
            <label for="ean">EAN:</label>
            <input type="text" id="ean" @bind-value="createProduct.Ean" />
        </div>
        <div class="inputHolder">
            <label for="desc">Description:</label>
            <input type="text" id="desc" @bind-value="createProduct.Description" />
        </div>
        <div class="inputHolder">
            <label for="descHtml">Description HTML:</label>
            <input type="text" id="descHtml" @bind-value="createProduct.DescriptionHTML" />
        </div>
        <div class="inputHolder dimensions-box">
        <p>Dimensions: </p>

        <input type="number" id="width" @bind-value="createProduct.Width" />
        <input type="number" id="height" @bind-value="createProduct.Height" />
        <input type="number" id="length" @bind-value="createProduct.Length" />
        </div>
        <div class="inputHolder category">
        <label for="cateogory">Product category:</label>
        <InputSelect id="category" @bind-Value="selectCategoryProp" >
            <option value=""></option>
            @foreach(var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </InputSelect>
        </div>
        <div class="atrHolder">
            @foreach(var attr in productAttributes)
            {
                    <div class="atrRow">
                        <p>@(attr.AttributeProto.Name + ":  ")</p>
                        <div class="inputHolder">
                    @switch(attr.AttributeProto.AttributeType)
                    {
                        case AttributeTypeEnum.Bool: 
                            <input type="checkbox" style="width:50%; align-self:center; text-align:center;" @bind-value="@attr.boolVal"/>
                            break;
                        case AttributeTypeEnum.Integer:
                            <InputNumber @bind-Value="@attr.intVal"></InputNumber>
                            break;
                        case AttributeTypeEnum.Float:
                            <InputNumber @bind-Value="@attr.floatVal" @bind-Value:format="F2"></InputNumber>
                            break;
                        case AttributeTypeEnum.String:
                            <input type="text" style="width:50%; align-self:center; text-align:center;" @bind-value="@attr.Value"></input>
                            break;
                        case AttributeTypeEnum.List:
                            <InputSelect id="category" @bind-Value="attr.Value" >
                                <option value=""></option>
                                @foreach(var stringValue in attr.AttributeProto.PossibleValues.Split(',', StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <option value="@stringValue">@stringValue</option>
                                }
                            </InputSelect>
                            break;

                        default: break;
                    }

                    </div>
                </div>
            }
        </div>
        <div class="photoHolder">
            @foreach(var photo in productImages)
            {
                    //if (productImages.IndexOf(photo) >= 8) continue;
                    <div class="photo">
                    @if(photo.Image is null) { <span class="position-absolute top-50 start-50 translate-middle font-size:30px;">
                                                EMPTY
                                                </span> }
                    else
                    {
                        <img style="max-width:100%; max-height: 100%;" src="@string.Format($"data:{photo.ContentType};base64,{photo.Image}")">
                        <a @onclick="() => RemoveImage(photo) "> X </a>
                        <img/>
                    }
                </div>
            }

        </div>
        <InputFile @key="@(resetInput)" OnChange="InsertImage" multiple />
        <br />  
        <button type="submit">CREATE</button>
    </div>

    <div>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>
</EditForm>
</div>


@code 
{
    CreateProduct createProduct = new();
    List<Category> categories = new();
    List<CreateProductAttribute> productAttributes = new();
    List<CreateProductImage> productImages = new();
    string resetInput = Guid.NewGuid().ToString();
    private int? selectCategoryProp
    {
        get => createProduct.CategoryId;
        set
        {
            createProduct.CategoryId = value == 0 ? null : value;
            SelectCategory(value);
        }
    }

    protected override async  Task OnInitializedAsync()
    {
        _productService.Message = "";
        categories = await _categoryService.GetAllAsync(_stateContainer.Catalog.Id);
        while (productImages.Count < 16) productImages.Add(new CreateProductImage());
    }

    private async Task Create()
    {
        createProduct.ProductAttributes = new();
        productAttributes.ForEach(x => createProduct.ProductAttributes.Add(new ProductAttribute() { Value = x.Value, AttributeProtoId = x.AttributeProtoId }));
        createProduct.ProductImages = new();
        createProduct.ProductImages = productImages;
        createProduct.CatalogId = _stateContainer.Catalog.Id;
        await _productService.CreateAsync(createProduct);



    }

    private async void SelectCategory(int? categoryId)
    {
        productAttributes = new();
        var categoryProtos = new List<CategoryProductAttributeProto>();

        if(categoryId == 0)
        {
            productAttributes.Clear();
            StateHasChanged();
            return;
        }
        if (categoryId == null) categoryProtos = new();
        else categoryProtos = await _attributeService.GetCategoryInheritedProtos(categoryId.Value);
        foreach(var proto in categoryProtos)
        {
            productAttributes.Add(new CreateProductAttribute()
            {
                Value = proto.ProductAttributeProto.DefaultValue,
                AttributeProtoId = proto.ProductAttributeProto.Id,
                AttributeProto = proto.ProductAttributeProto
            });
        }
        StateHasChanged();
    }

    private async void InsertImage(InputFileChangeEventArgs e)
    {
        if (e.FileCount == 1)
        {
            try
            {
                var buffers = new byte[e.File.Size];
                using MemoryStream ms = new();
                await e.File.OpenReadStream(maxAllowedSize: 115242880).CopyToAsync(ms);
                var img = productImages.First(x => x.Image == null);
                img.Image = Convert.ToBase64String(ms.ToArray());
                img.ContentType = e.File.ContentType;
            }
            catch { }
        }
        else
        {
            var files = e.GetMultipleFiles(productImages.Count(x => x.Image == null));
            foreach (var file in files)
            {
                try
                {
                    using MemoryStream ms = new();
                    await file.OpenReadStream(maxAllowedSize: 115242880).CopyToAsync(ms);
                    var img = productImages.First(x => x.Image == null);
                    img.Image = Convert.ToBase64String(ms.ToArray());
                    img.ContentType = file.ContentType;
                }
                catch(Exception ex) {}
            }
        }
        resetInput = Guid.NewGuid().ToString();
        StateHasChanged();
    }

    public void RemoveImage(CreateProductImage img)
    {
        productImages.Remove(img);
        productImages.Add(new CreateProductImage());
        StateHasChanged();
    }
}
